h3,
h4 {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 300;
	line-height: 1.5em;
}

h3 {
	margin: 0 auto;
	text-align: center;
	font-size: 1.5em;
}

h4 {
	font-size: 1.3em;
}

.container {
	margin: 0 auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin-left: 5px;
	width: 100%;
}

.card-title {
	color: #3c4858;
	text-decoration: none;
}

.card {
	margin: 25px 3px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
	border-radius: 6px;
	background: #fff;
	width: 340px;
	height: 400px;
}
.card .card-title {
	margin-top: 0;
	margin-bottom: 3px;
	height: 4rem;
	overflow: hidden;
}

.card .card-title:not(.card-calendar .card-title) {
	margin-top: 0;
	margin-bottom: 5px;
}
.card .category:not([class*="text-"]) {
	color: #999999;
	font-size: 14px;
}
.card .card-content {
	padding: 15px 20px;
	position: relative;
}
.card .card-content .category {
	margin-bottom: 0;
}
.card .card-header {
	padding: 15px 20px 0;
	z-index: 3;
}
.card [data-background-color] {
	box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12),
		0 8px 10px -5px rgba(0, 0, 0, 0.2);
	margin: -20px 15px 0;
	border-radius: 3px;
	padding: 15px;
	background-color: #999999;
	position: relative;
}
.card .card-footer {
	margin: 0 20px 10px;
	padding-top: 10px;
	border-top: 1px solid #eeeeee;
}
.card .card-footer .stats {
	line-height: 22px;
	color: #999999;
	font-size: 12px;
}
.card .card-footer .stats .material-icons {
	position: relative;
	top: 4px;
	font-size: 16px;
}
.card img {
	width: 100%;
	height: auto;
}
.card [data-background-color="orange"] {
	background: linear-gradient(60deg, #ffa726, #fb8c00);
	box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}
.card [data-background-color] {
	color: #ffffff;
}

@media (max-width: 991px) {
	body {
		position: relative;
		min-height: 100vh;
	}
}

mat-chip-list {
	position: absolute;
	top: -10px;
	left: -10px;
}
mat-chip {
	height: 100%;
	width: 100%;
	border-radius: 3px;
	line-height: 17px;
	margin: 10px 1px;
	padding: 10px 16px;
}
