$mainColor: red;

mat-card-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

mat-slider {
	width: 80%;
}

.myButton {
	background-color: #fff;
	border: 1px solid $mainColor;
	border-radius: 3px;
	color: $mainColor;
	font-size: 12px;
	font-weight: 700;
	height: 40px;
	line-height: 17px;
	padding: 12px 20px;
	width: 120px;
	margin: 10px 1px;
}

.district-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 20px;
}

.districts {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.control-panel-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	scrollbar-width: thin;
}
