mat-sidenav {
	width: 250px;
}

mat-sidenav,
mat-sidenav-content {
	padding-top: 10px;
	min-height: 100vh;
}

app-events {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	min-height: 500px;
	margin-left: 20px;
}
