$mainColor: #0288d1;

.no-events {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	.no-events-message {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		mat-icon {
			transform: scale(3);
			color: $mainColor;
		}

		h4 {
			font-size: 1.5rem;
			color: $mainColor;
		}

		p {
			text-align: center;
		}
	}
}

mat-sidenav-container {
	min-height: 120vh;
}

mat-sidenav {
	width: 250px;
	border-right: 1.2px solid $mainColor;

	&.mat-drawer-inner-container {
		scrollbar-width: thin;
		scrollbar-color: $mainColor #fff;
	}
}

mat-sidenav-content {
	.menu-toggle {
		cursor: pointer;
		transform: scale(1.5);
		color: $mainColor;
		margin: 20px 0 0 20px;
	}
}

app-events {
	padding-top: 10px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	overflow: hidden;
	min-height: 100vh;
}

@media screen and (min-width: 800px) {
	.menu-toggle {
		display: none;
	}
}
