$mainColor: #0288d1;

mat-sidenav-container {
	min-height: 120vh;
}

mat-sidenav {
	width: 250px;
	border-right: 1.2px solid $mainColor;

	&.mat-drawer-inner-container {
		scrollbar-width: thin;
		scrollbar-color: $mainColor #fff;
	}
}

app-events {
	padding-top: 10px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	overflow: hidden;
	min-height: 100vh;
}
